{% load static %} {% comment %}  use staticfiles to serve files from cloud service {% endcomment %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Birds</title>
        <meta charset="utf-8"> 
        <!-- Bootstrap -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <!-- Angular -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="{% static 'animalsController.js' %}"></script>
        <!-- Styles -->
        <link href="{% static 'styles.css' %}" rel="stylesheet" type="text/css">

    </head>

    <body ng-app="animalsApp">

        <aside style="position:absolute; right:5px; top:5px;" role="navigation">
            {% if user.username %}
                <div>Hi <a href="{% url 'birds:profile' %}">{{user.username}}</a></div>
                <div><a href="{% url 'birds:logout' %}">Logout</a></div>
            {% else %}
                <div><a href="{% url 'birds:login' %}">Login</a></div>
                <div><a href="{% url 'birds:signup' %}">Sign up</a></div>
            {% endif %}
        </aside>

        {% block content %}
            <!-- Put content here -->
            <strong>No external content loaded</strong>
        {% endblock content %}

    </body>
</html>