{% extends 'base.html' %}

{% load static %} {% comment %}  use staticfiles to serve files from cloud service {% endcomment %}

{% block ng_controller %}ProjectsCtrl{% endblock ng_controller %}

{% block content %}

{% if message %}
    <p>{{ message }}</p>
{% else %}
    
<div class="jumbotron text-center">
    <p>Record #{{ random_record.id }} from {{ project.name }} project.</p>
    <audio controls preload="auto" style="width: 60%; min-width: 240px;">
        {% with 'audio/'|add:random_record.filename|add:'.mp3' as audio_fullpath %}
            <source src="{% static audio_fullpath %}" type="audio/mpeg">
        {% endwith %}
        Your browser does not support the audio element.
    </audio>
</div>

<div class="tag-container">
    <p class="lead">Please select the animal from the record:</p>
    <div class="row">
        <div class="cell">
            <form action="{% url 'birds:project' project.directory %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="record" value="{{ random_record.id }}">
                <p>{{ tags.0.name }}:</p>
                <button class="image tag" type="submit" name="tag" value="{{ tags.0.id }}">
                    <img src="{{ tags.0.image.url }}" alt="{{ tags.0.image.name }}" class="tag">
                </button>
            </form>
        </div>
        <div class="cell">
            <form action="{% url 'birds:project' project.directory %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="record" value="{{ random_record.id }}">
                <button class="basic tag" type="submit" name="tag" value="{{ tags.1.id }}" title="Preselected option no. 2">{{ tags.1.name }}</button>
            </form>
        </div>
        <div class="cell">
            <form action="{% url 'birds:project' project.directory %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="record" value="{{ random_record.id }}">
                <div class="dropdown">
                    <button class="tag dropdown-toggle" data-toggle="dropdown" title="Other options">
                        Other
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        {% for tag in tags|slice:"2:" %}
                            <li><button class="dropdown-choice" type="submit" name="tag" value="{{ tag.id }}">{{ tag.name }}</button></li>
                        {% endfor %}
                        <li class="divider"></li>
                        {% comment %} {% if random_record.option_1.name != "Other animal" and random_record.option_2.name != "Other animal" %}
                            <li><button class="dropdown-choice" type="submit" name="bird" value="6">Other animal</button></li>
                        {% endif %}
                        {% if random_record.option_1.name != "Noise" and random_record.option_2.name != "Noise" %}
                            <li><button class="dropdown-choice" type="submit" name="bird" value="7">Noise</button></li>
                        {% endif %} {% endcomment %}
                        <li class="disabled"><a href="#">None of the above</a></li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</div>

{% endif %}

{% endblock content %}