{% extends 'base.html' %}

{% block ng_controller %}ProjectDetailCtrl{% endblock ng_controller %}

{% block content %}

<h1>[[ project.name ]]</h1>

{{ project_id }}

<!-- Project list -->
{% comment %} <div class="table-responsive" role="view_list">          
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>File type</th>
                <th># Users</th>
                <th># Tags</th>
                <th># Records</th>
                <th># Identifications</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="project in projects | orderBy:['id','name']">
                <td><a href="[[ project.directory ]]">[[ project.name ]]</a></td>
                <td>[[ project.file_type ]]</td>
                <td>[[ project.rights.length ]]</td>
                <td>[[ project.tags.length ]]</td>
                <td>[[ project.records.length ]]</td>
                <td>[[ project.identifications.length ]]</td>
            </tr>
        </tbody>
    </table>
</div> {% endcomment %}

{% endblock content %}