{% extends 'base.html' %}

{% block content %}

<div ng-controller="ProjectDetailCtrl" ng-init="getProject('{{ project_dir }}')" ng-cloak class="form-container">

<div ng-show="error_message">[[ error_message ]]</div>
<div ng-hide="error_message">

<h1>[[ project.name ]]</h1>

<form class="form-horizontal">
    {% csrf_token %}
    <div class="form-group">
        <label class="control-label col-sm-2">ID:</label>
        <div class="col-sm-10">
            <div style="padding: 6px 12px;">[[ project.id ]]</div>
            {% comment %} <input class="form-control" type="text" name="id" ng-model="project.id" readonly> {% endcomment %}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">Name:</label>
        <div class="col-sm-10"> 
            <input class="form-control" type="text" name="name" ng-model="project.name">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">Directory:</label>
        <div class="col-sm-10"> 
            <input class="form-control" type="text" name="directory" ng-model="project.directory">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">File type:</label>
        <div class="col-sm-10"> 
            <input class="form-control" type="text" name="file_type" ng-model="project.file_type">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2"># Tags:</label>
        <div class="col-sm-10"> 
            <div style="padding: 6px 12px;">[[ project.tag_count ]]</div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2"># Records:</label>
        <div class="col-sm-10"> 
            <div style="padding: 6px 12px;">[[ project.record_count ]] ([[ project.record_with_file_count ]])</div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2"># Users:</label>
        <div class="col-sm-10"> 
            <div style="padding: 6px 12px;">[[ project.right_count ]] ([[ project.owner_count ]], [[ project.expert_count ]], [[ project.layman_count ]])</div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2"># Identifications:</label>
        <div class="col-sm-10"> 
            <div style="padding: 6px 12px;">[[ project.identification_count ]]</div>
        </div>
    </div>
    <div class="form-group"> 
        <div class="col-sm-offset-2 col-sm-10">
            {% comment %} <button type="submit" class="btn btn-default">Update</button> {% endcomment %}
            <button ng-click="updateProject(project)">Update</button>
        </div>
    </div>
</form>

<h2>Project users:</h2>

<div class="table-responsive">          
    <table class="table">
        <thead>
            <tr>
                <th>Username:</th>
                <th>Email:</th>
                <th># Identifications</th>
                <th>Role</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <form>
                    {% csrf_token %}
                    <td><select ng-model="new_user" ng-options="user_wo_rights.username for user_wo_rights in project.users_wo_rights"></select></td>
                    <td><select ng-model="new_user" ng-options="user_wo_rights.email for user_wo_rights in project.users_wo_rights"></select></td>
                    <td></td>
                    <td><select ng-model="new_user_role" ng-options="role_name for role_name in project.role_names"></select></td>
                    <td></td>
                    <td><button ng-click="addRight()">Add</button></td>
                </form>
            </tr> 
            <tr ng-repeat="right in project.rights | orderBy:['role','-name']">
                <form>
                    {% csrf_token %}
                    <td>[[ right.username ]]</td>
                    <td>[[ right.email ]]</td>
                    <td>[[ right.identification_count ]]</td>

                    {% comment %} <div class="dropdown">
                        <button class="tag dropdown-toggle" data-toggle="dropdown" title="User role">
                            [[ right.role_name ]]
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="role_choice in project.role_choices">
                                <button class="dropdown-choice" ng-model="right.role">{{ tag.name }}</button>
                            </li>
                        </ul>
                    </div> {% endcomment %}
                    <td><select ng-model="right.role_name" ng-options="role_name for role_name in project.role_names"></select></td>
                    {% comment %} <td><input type="text" name="role" ng-model="right.role_name" ng-value="1"></td> {% endcomment %}
                    <td><button ng-click="updateRight(right)">Update</button></td>
                    <td><button ng-click="deleteRight(right)">Remove</button></td>
                </form>
            </tr>

        </tbody>
    </table>
</div>

</div>

</div>

{% endblock content %}

