{% extends 'base.html' %}

{% block content %}

<div ng-controller="ProjectListCtrl" ng-init="user='{{user}}'" ng-cloak>

    <h1>Project list</h1>

    <div class="table-responsive" role="view_list">          
        <table class="table">
            <thead>
                <tr>
                    {% comment %} <th>ID</th> {% endcomment %}
                    <th>Name</th>
                    {% comment %} <th>Directory</th> {% endcomment %}
                    <th>File type</th>
                    <th># Users</th>
                    <th># Tags</th>
                    <th># Records</th>
                    <th># Identifications</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="project in projects | orderBy:['id']">
                    {% comment %} <td>[[ project.id ]]</td> {% endcomment %}
                    <td>
                        <a href="[[ project.directory ]]">[[ project.name ]]</a>
                        <a ng-show="isProjectOwner({{user.id}}, project)" href="[[ project.directory ]]/edit/"><img src="[[ icon_edit ]]" title="Edit [[ project.name ]] project" alt="Edit" width="24px" height="24px" style="margin: -10px 0px -10px 0px;"></a>
                    </td>
                    {% comment %} <td>[[ project.directory ]]</td> {% endcomment %}
                    <td>[[ project.file_type ]]</td>
                    <td>[[ project.right_count ]]</td>
                    <td>[[ project.tag_count ]]</td>
                    <td>[[ project.record_count ]]</td>
                    <td>[[ project.identification_count ]]</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

{% endblock content %}