{% extends 'base.html' %}

{% block content %}

<main ng-controller="ProjectDetailCtrl" ng-init="getProject('{{ project_dir }}')" ng-cloak>

<div ng-show="error_message">[[ error_message ]]</div>
<div ng-hide="error_message">

<section id="project-parameters">

    <h1>[[ project.name ]]</h1>

    <div class="container-part-1-2">
                
        <div class="form-group">
            <div class="form-label">
                <label>ID:</label>
            </div>
            <div class="form-value">
                <div class="value">[[ project.id ]]</div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-label">
                <label>Name:</label>
            </div>
            <div class="form-value" style="padding-right: 13px;">
                <input type="text" name="name" ng-model="project.name">
            </div>
            <div class="form-value">
                <img class="small" data-ng-src="[[ icon_save ]]" title="Update project name" alt="Update" width="32px" height="32px">
                <button class="medium-big" ng-click="updateProject(project)">Update</button>
            </div>
        </div>
        <div class="form-group">
            <div class="form-label">
                <label>Directory:</label>
            </div>
            <div class="form-value"> 
                <div class="value">[[ project.directory ]]</div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-label">
                <label>File type:</label>
            </div>
            <div class="form-value"> 
                <div class="value">[[ project.file_type ]]</div>
            </div>
        </div>

    </div>

    <div class="container-part-1-2">

        <div class="form-group">
            <div class="form-label">
                <label># Tags:</label>
            </div>
            <div class="form-value">
                <div class="value">[[ project.tag_count ]]</div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-label">
                <label># Records:</label>
            </div>
            <div class="form-value">
                <div class="value">[[ project.record_count ]] ([[ project.record_with_file_count ]] with file)</div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-label">
                <label># Users:</label>
            </div>
            <div class="form-value">
                <div class="value">[[ project.right_count ]] ([[ project.owner_count ]], [[ project.expert_count ]], [[ project.layman_count ]])</div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-label">
                <label># Entries:</label>
            </div>
            <div class="form-value">
                <div class="value">[[ project.identification_count ]]</div>
            </div>
        </div>

    </div>

    <br style="clear: left;">   <!-- clearfix to avoid parent collapse -->

</section>

<section id="project-users">

    <h2>Project users:</h2>

    {% comment %} <div class="table-container"> {% endcomment %}
        <table class="table">
            <thead>
                <tr>
                    <th>Username:</th>
                    <th class="big">Email:</th>
                    <th><span class="small-medium" title="Number of user identifications">#</span><span class="big"># Entries</span></th>
                    <th>Role</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="dropdown">
                            <button class="select dropdown-toggle" data-toggle="dropdown" title="User name">
                                [[ new_user.username ]] <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li ng-repeat="user_wo_rights in project.users_wo_rights">
                                    <button class="dropdown-choice" ng-class="{active: new_user.username == user_wo_rights.username}" ng-click="updateNewUser(user_wo_rights.username, undefined, undefined)">[[ user_wo_rights.username ]]</button>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td class="big">
                        <div class="dropdown">
                            <button class="select dropdown-toggle" data-toggle="dropdown" title="User email">
                                [[ new_user.email ]] <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li ng-repeat="user_wo_rights in project.users_wo_rights">
                                    <button class="dropdown-choice" ng-class="{active: new_user.email == user_wo_rights.email}" ng-click="updateNewUser(undefined, user_wo_rights.email, undefined)">[[ user_wo_rights.email ]]</button>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td></td>
                    <td>
                        <div class="dropdown">
                            <button class="select dropdown-toggle" data-toggle="dropdown" title="User role">
                                [[ new_user_role_name ]] <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li ng-repeat="role_name in project.role_names">
                                    <button class="dropdown-choice" ng-class="{active: new_user_role_name == role_name}" ng-click="updateNewUser(undefined, undefined, role_name)">[[ role_name ]]</button>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td class="icon">
                        <img class="small" data-ng-src="[[ icon_add_user ]]" title="Add user to project" alt="Add" width="32px" height="32px">
                        <button class="medium-big" ng-click="addRight()">Add</button>
                    </td>
                </tr>
                <tr ng-repeat="right in project.rights | orderBy:['role','-name']">
                    <td>[[ right.username ]]</td>
                    <td class="big">[[ right.email ]]</td>
                    <td>[[ right.identification_count ]]</td>

                    <td>
                        <div class="dropdown">
                            <button class="select dropdown-toggle" data-toggle="dropdown" title="User role">
                                [[ right.role_name ]] <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li ng-repeat="role_name in project.role_names">
                                    <button class="dropdown-choice" ng-class="{active: right.role_name == role_name}" ng-click="updateRight(right, role_name)">[[ role_name ]]</button>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td class="icon">
                        <img class="small" data-ng-src="[[ icon_trash ]]" title="Remove user from project" alt="Remove" width="32px" height="32px">
                        <button class="medium-big" ng-click="deleteRight(right)">Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>
    {% comment %} </div> {% endcomment %}

</section>

</div>

</main>

{% endblock content %}

