{% extends 'base.html' %}

{% block content %}

<main ng-controller="" class="form-container">

    <h1>{{ user.username }}</h1>
	
	<form method="post">
		{% csrf_token %}
		{% for field in form %}
		<div class="form-group">
			{{ field.label_tag }}<br>
			{{ field }}
			{% if field.help_text %}
				<div class="help-text">{{ field.help_text }}</div>
			{% endif %}
			{% for error in field.errors %}
				<p class="error-message">{{ error }}</p>
			{% endfor %}
		</div>
		{% endfor %}
		<button type="submit">Change password</button>
	</form>

	<div class="form-nav">
		<p>Back to <a href="{% url 'birds:project-list-view' %}">project overview</a></p>
	</div>

<div>

{% endblock content %}