{% extends 'base.html' %}

{% block content %}

<div ng-controller="" class="form-container">

    <h1>Sign up</h1>

    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }}<br>
            {{ field }}
            {% if field.help_text %}
                <div class="help-text">{{ field.help_text }}</div>
            {% endif %}
            {% for error in field.errors %}
                <p class="error-message">{{ error }}</p>
            {% endfor %}
        </div>
        {% endfor %}
        <button type="submit">Sign up</button>
    </form>
</div>
{% endblock %}