main {
  padding-left: 0px;
  margin: 0% 10%;
}

@media (max-width: 500px) {
  main {
    margin: 0% 5%;
  }
}

nav {
  position: absolute;
  right: 5px;
  top: 5px;
}

@media (min-width: 501px) {
  .small {
    display: none;
  }
}

@media (min-width: 801px) {
  .small-medium {
    display: none;
  }
}

@media (max-width: 500px) {
  .medium-big {
    display: none;
  }
}

@media (max-width: 800px) {
  .big {
    display: none;
  }
}

div.tag-container {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 15%;
  margin-left: 15%;
}

div.tag-container div.row div.cell {
  padding: 10px 50px 10px 50px;
  width: 33.33%;
  width: calc(100% / 3);
  height: 220px;
  text-align: center;
  float: left;
}

div.tag-container div.row div.cell button.tag {
  border-radius: 5px;
  -webkit-box-shadow: 1px 2px 4px grey;
          box-shadow: 1px 2px 4px grey;
}

div.tag-container div.row div.cell img.tag {
  vertical-align: middle;
  max-width: 100%;
  max-height: 170px;
  border-radius: 5px;
}

div.tag-container div.row div.cell button.image {
  border: 0;
  padding: 0;
  background: transparent;
}

div.tag-container div.row div.cell button.basic {
  border: 0;
  padding: 0;
  border-radius: 5px;
  width: 100%;
  height: 200px;
}

div.container-part-1-2 {
  float: left;
  width: 50%;
  padding-right: 2%;
}

@media (max-width: 800px) {
  div.container-part-1-2 {
    width: 100%;
  }
}

form {
  margin-bottom: 20px;
}

form div.form-group {
  margin-bottom: 14px;
}

@media (max-width: 800px) {
  form div.form-group {
    margin-bottom: 4px;
  }
}

form div.form-group div.form-label {
  display: table-cell;
  text-align: right;
}

form div.form-group div.form-value {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}

div.form-nav {
  text-align: center;
}

label {
  width: 100px;
  padding: 7px 13px;
  margin: 0;
  font-weight: 700;
}

div.value {
  padding: 7px 13px;
}

input {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button.select {
  border: 1px solid #ccc;
  padding: 6px 24px 6px 12px;
  background-color: white;
  position: relative;
}

button.select span.caret {
  position: absolute;
  right: 5px;
  top: 14px;
}

div.help-text {
  color: grey;
  font-size: smaller;
  margin-top: 5px;
  margin-bottom: 5px;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

p.error-message {
  color: red;
}

button {
  border: 1px solid transparent;
  padding: 6px 12px;
  border-radius: 5px;
}

table.table tr th {
  vertical-align: middle;
  padding: 7px;
}

@media (max-width: 800px) {
  table.table tr th {
    padding: 4px 7px;
  }
}

table.table tr td {
  vertical-align: middle;
  padding: 7px;
}

@media (max-width: 800px) {
  table.table tr td {
    padding: 4px 7px;
  }
}

@media (max-width: 500px) {
  table.table tr td.icon {
    width: 1%;
  }
}

table.table button {
  padding: 6px 0px;
  width: 100%;
}

div.dropdown {
  height: 34px;
}

div.dropdown button.dropdown-toggle {
  padding: 0px 13px 0px 0px;
  border-radius: 5px;
  width: 100%;
  min-height: 34px;
}

div.dropdown ul.dropdown-menu {
  min-width: 100%;
  height: auto;
  max-height: 166px;
  overflow-x: hidden;
}

div.dropdown ul.dropdown-menu button.dropdown-choice {
  border: none;
  background-color: inherit;
  cursor: pointer;
  display: block;
  padding: 3px 20px;
  width: 100%;
  text-align: left;
}

div.dropdown ul.dropdown-menu button.dropdown-choice:hover {
  background: #eee;
}

div.dropdown ul.dropdown-menu button.active {
  background-color: #ced8e8;
}

div.dropdown ul.dropdown-menu button.active:hover {
  background-color: lightsteelblue;
}
/*# sourceMappingURL=styles.css.map */