{% extends 'birds/base.html' %}

{% load static %} {% comment %}  use staticfiles to serve files from cloud service {% endcomment %}

{% comment %} {% block ng_controller %}birdsCtrl{% endblock ng_controller %} {% endcomment %}

{% block content %}

{% if message %}
    {{ message }}
{% else %}
    
<div class="jumbotron text-center">
    <p>Record #{{ random_record.id }} from {{ project.name }} project.</p>
    <audio controls preload="auto" style="width: 60%; min-width: 240px;">
        {% with 'audio/'|add:random_record.filename|add:'.mp3' as audio_fullpath %}
            <source src="{% static audio_fullpath %}" type="audio/mpeg">
        {% endwith %}
        Your browser does not support the audio element.
    </audio>
</div>

<div class="container">
    <p class="lead">Please select the animal from the record:</p>
    <div class="row">
        <div class="col-sm-4">
            <form action="{% url 'birds:index' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="record" value="{{ random_record.id }}">
                <button class="btn" type="submit" name="tag" value="{{ tags.0.id }}" title="Preselected option no. 1">{{ tags.0.name }}</button>
            </form>
        </div>
        <div class="col-sm-4">
            <form action="{% url 'birds:index' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="record" value="{{ random_record.id }}">
                <button class="btn" type="submit" name="tag" value="{{ tags.1.id }}" title="Preselected option no. 2">{{ tags.1.name }}</button>
            </form>
        </div>
        <div class="col-sm-4">
            <form action="{% url 'birds:index' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="record" value="{{ random_record.id }}">
                <div class="dropdown">
                    <button class="btn dropdown-toggle" data-toggle="dropdown" title="Other options">
                        Other
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        {% for tag in tags|slice:"2:" %}
                            <li><button class="text-button" type="submit" name="tag" value="{{ tag.id }}">{{ tag.name }}</button></li>
                        {% endfor %}
                        <li class="divider"></li>
                        {% comment %} {% if random_record.option_1.name != "Other animal" and random_record.option_2.name != "Other animal" %}
                            <li><button class="text-button" type="submit" name="bird" value="6">Other animal</button></li>
                        {% endif %}
                        {% if random_record.option_1.name != "Noise" and random_record.option_2.name != "Noise" %}
                            <li><button class="text-button" type="submit" name="bird" value="7">Noise</button></li>
                        {% endif %} {% endcomment %}
                        <li class="disabled"><a href="#">None of the above</a></li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</div>

{% endif %}

{% endblock content %}